# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.streamlit/
.env.local
.env.*.local

# System
.DS_Store

# Credentials
*.json
credentials/
nps-annette-k-d47ddcca9303.json
.streamlit/secrets.toml 
