# Authentication
ADMIN_PASSWORD_HASH=240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9
USER_PASSWORD_HASH=240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9

# Google Sheets Configuration
SHEET_ID=your_sheet_id_here
SHEET_NAME=your_sheet_name_here

# Application Configuration
ENABLE_AUTH=True
